@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide::-webkit-scrollbar {
  background-color: transparent;
}

.background {
  background-image: linear-gradient(#4285f4, #241df2);
  height: 100vh;
}
.MuiPaper-root {
  background: black !important;
}

/* kdjfkjd */
